.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.918);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.logo-img {
  color: transparent;
  width: 240px;
  height: auto;
}

.logo-img:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s ease;
  position: relative;
}

.nav a:hover {
  color: rgb(0, 0, 0);
}

/* underline effect */
.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: rgb(0, 0, 0);
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .header-container {
    height: auto;
  }
  .logo-img {
    width: 180px;
  }

  .nav ul {
    gap: 20px;
  }
  .nav a {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .header-container {
    padding: 8px;
  }

  .logo {
    margin-top: 5px;
  }
  .logo-img {
    width: 120px;
  }
  .nav ul {
    gap: 13px;
  }

  .nav a {
    font-size: 0.7rem;
  }
}
